@import "src/app/styles/mixins"

.login

  &-page
    @include fake-modal-page

    mat-form-field
      margin-top: 15px

      &:first-child
        margin: 0

    h2
      @include h2
      margin-bottom: 15px

  &-invite
    @include content-14
    margin-bottom: 15px
