<header class="header">
  <div class="nav-wrapper">
    <h1>
      Тестовая работа
    </h1>

    <nav class="nav">
      <ng-container *ngIf="!(auth$ | async); else authorized">
        <a class="nav-link" routerLink="/login">
          Авторизация
        </a>
        <a class="nav-link" routerLink="/registration">
          Регистрация
        </a>
      </ng-container>
      <ng-template #authorized>
        <button (click)="logout()" class="nav-link">
          Выход
        </button>
      </ng-template>
    </nav>
  </div>
</header>
